<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
	backupGlobals="false"
	bootstrap="test/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="false"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestSize="true"
	beStrictAboutTodoAnnotatedTests="true"
	verbose="true">

	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="Test.php">test</directory>
		</testsuite>
	</testsuites>
</phpunit>
